/* Inner Hero Section - for about.php and other inner pages */
.inner-cover {
    background-image: url("../images/inner-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    position: relative;
    z-index: 10;
 
}
.reg-cover{
    background-image: url("../images/register-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 3000px;
    width: 100%;
    position: relative;
    z-index: 10;
 
}

.custom-file-upload input[type="file"] {
    display: none;
}

.custom-file-upload .upload-btn {
    width: 100%;
    display: flex;
    align-items: center;
  
    border-radius: 25px;
    padding: 8px 3px;
    cursor: pointer;
}

.custom-file-upload .upload-btn i {
    background: #fff;
    color: #000088;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     
}

.custom-file-upload .upload-btn span {
    font-weight: 600;
    color: #1a1a1a;
    background-color: #fff;
    padding: 3px 10px;
    border-radius: 5px;
}

.custom-file-upload .upload-btn small {
     padding-left: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}



.reg-communication-method .form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    font-size: 17px;
    border: 2px solid #fff;
    background-color: transparent;
}
.me-51{
    margin-right: 6.5em;
}

.bg-image-none {
       background: linear-gradient(180deg, #000022 0%, #0202C5 100%);
}

/* contact-left */
.contact-left{
     background-image: url("../images/contact-left-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 490px;
    width: 100%;
    position: relative;
 
}
 .contact-right .form-check-input:checked {
    background-color: #000000;
    border-color: #000000;
}

/* lesson-section */
.lesson-section {
    background-color: #EBF3FF; /* fallback color */
    background-image: url("../images/d-1.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    width: 100%;
    min-height: 100vh; /* better than fixed height */
    position: relative;
}
.lesson-1{
    background-image: url("../images/r4.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    width: 100%;
    min-height: 225px;  
    position: relative; 
}

/*mobile*/

@media only screen and (max-width: 767px) {
.reg-cover {
   
    height: auto;
   
}
.font-42 {
    font-size: 24px;
}
}


/*vertical*/

@media screen and (min-width: 768px) and (max-width: 991px) {

.inner-cover {
    
    height: 500px;
    
}
.reg-cover {
   
    height: auto;
   
}
.font-42 {
    font-size: 27px;
}

}



/*landscape*/

@media (min-width: 992px) and (max-width: 1199px) {

.inner-cover {
    
    height: 450px;
   
}
.reg-cover {
   
    height: auto;
   
}

.font-42 {
    font-size: 30px;
}



}


 
@media (min-width: 1400px) {
   .inner-cover {
    
    height: 750px;
    
    
}

 .inner-hero .col-lg-8{
margin-top: 5em;
 }


}